@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/variables";

$theme-colors: (
  "primary":    #492B7B,
  "secondary":  #F7D914,
  "success":    $success,
  "info":       #9381FF,
  "warning":    #ED8A0A,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 10px
);

.text-special {
    font-family: 'Days One', 'Roboto', sans-serif;
}


@import "../node_modules/bootstrap/scss/bootstrap";
