@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

@mixin fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.backgroundImage {
  @include fullscreen();
  width: 100vw;
  background-image: url("/background.jpg");
  background-size: 100%;
}

.backgroundImage::after {
  @include fullscreen();
  content: " ";
  background-color: $purple;
  opacity: 50%;
}
